@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 2px;
}

nav ul {
    display: flex;
    gap: 28px;
    margin: 0px 100px;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
}

.logo {
    font-size: 23px;
    padding: 4px 8px;
}

.btn1 {
    background-color: white;
    padding: 8px 12px;
    color: black;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    width: 53px;
}

.second-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 2px;
    height: 30px;
}

.second-nav ul {
    display: flex;
    gap: 28px;
    margin: 0px 100px;
    justify-content: center;
    align-items: center;
}

.second-nav ul li {
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    color: rgb(116, 116, 116);
}

.second-nav .logo:hover {
    background-color: rgb(215, 215, 215);
    border-radius: 30px;
    padding: 4px 8px;
}

main {
    min-height: 80vh;
    margin: 0px auto;
    width: 80vw;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 80vw;
}

.left {
    height: 100%;
    width: 38%;
    display: flex;
    flex-direction: column;
}

.right {
    height: 550px;
    width: 43%;
}

.anchor {
    color: black;
    text-decoration: dotted underline;
    text-underline-offset: 5px;
    text-decoration-color: rgb(180, 180, 180);
}

.left h1 {
    font-size: 45px;
    font-weight: 600;
}

.left p {
    margin-top: 30px;
    font-size: 13px;
}

.left p span {
    font-weight: 500;
}

.pickup {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.drop {
    background-color: rgb(232, 232, 232);
    padding: 12px 26px;
    width: fit-content;
    border-radius: 40px;
    font-weight: 600;
}

.pickup-location {
    background-color: rgb(232, 232, 232);
    border-radius: 8px;
    position: relative;
    width: 80%;
}

.pickup-location input {
    height: 40px;
    width: 100%;
    background-color: rgb(232, 232, 232);
    border: none;
    border-radius: 8px;
    padding: 5px 0px 5px 40px;
    outline: none;
}

.dropoff-location {
    background-color: rgb(232, 232, 232);
    border-radius: 8px;
    position: relative;
    width: 80%;
}

.dropoff-location input {
    height: 40px;
    width: 100%;
    background-color: rgb(232, 232, 232);
    border: none;
    border-radius: 8px;
    padding: 5px 0px 5px 40px;
    outline: none;
}

.circle {
    height: 13px;
    width: 13px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 35%;
    left: 10px;
}

.circle div {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 30%;
    left: 35%;
}

.square {
    height: 13px;
    width: 13px;
    background-color: black;
    position: absolute;
    top: 35%;
    left: 10px;
}

.square div {
    height: 5px;
    width: 5px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 35%;
}

.btns {
    display: flex;
    gap: 15px;
}

.btn2 {
    background-color: black;
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.btn3 {
    background-color: rgb(232, 232, 232);
    padding: 14px 28px;
    border-radius: 8px;
    width: fit-content;
    font-size: 14px;
    border: none;
}

.right img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.suggestion {
    margin-top: 80px;
    min-height: 60vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;
}

.box {
    height: 180px;
    width: 350px;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
}

.box h3 {
    font-weight: 500;
}

.box p {
    font-size: 11px;
}

.box img {
    width: 130px;
    object-fit: cover;
}

.box .left {
    width: 60%;
}

.box button {
    margin-top: 15px;
    width: fit-content;
}

.plan {
    margin-top: 50px;
    min-height: 60vh;
    
}

.uber-reserve {
    width: 60%;
    background-color: rgb(157, 205, 214);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
    padding: 30px 0px;
}

.left-reserve {
    width: 40%;
    padding: 0px 30px;
}

.left-reserve p {
    margin-top: 20px;
}

.left-reserve input {
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;

}

.left-reserve span {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.date-time {
    display: flex;
    gap: 12px;
    margin-top: 5px;
}

.left-reserve .btn2 {
    width: 100%;
    margin-top: 20px;
}

.left-reserve p {
    font-weight: 500;
    margin-top: 40px;
}

.date-time label {
    font-size: 14px;
}

.right-reserve img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 95%;
}

.reserve_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.benefits {
    width: 30%;
    border: 1px solid rgb(234, 234, 234);
    padding: 10px;
    border-radius: 10px;
}

.benefits-content {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.benefits-content div {
    display: flex;
    gap: 24px;
}

.friends-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-friends {
    width: 45%;
}

.friends-container img {
    width: 100%;
}


.right-friends {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.right-friends h1 {
    width: 70%;
}

.features {
    margin-top: 80px;
}

.features-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 34px;
    flex-wrap: wrap;
}

.boxes {
    width: 300px;
}

.boxes img {
    width: 100%;
}

.boxes div {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.boxes p:first-child {
    font-weight: 500;
    font-size: large;
}

.boxes p:nth-child(2) {
    font-size: 15px;
}

.business {
    padding: 50px 0px;
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-business {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 30%;
}

.left-business ul {
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.left-business div {
    display: flex;
    gap: 24px;
    align-items: center;
}

.left-business div button {
    background-color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
}

.left-business a {
    color: white;
    text-decoration-color: rgb(210, 210, 210);
    text-underline-offset: 5px;
}

.right-business {
    width: 38%;
}

.right-business img {
    width: 90%;
}

.faq {
    margin-top: 80px;
}

.que-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    flex-direction: column;
    width: 90%;
}

.que-container img {
    width: 12px;
}

.que {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.seperation {
    height: 1px;
    width: 100%;
    background-color: rgb(242, 242, 242);
    margin: 15px 0px;
}

.promotion {
    display: flex;
    flex-direction: column;
}

.promotion div {
    margin: 50px;
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer {
    min-height: 80vh;
    background-color: black;
    padding: 100px 180px 0px 180px;
    color: white;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* .grid1 {
    width: 80vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
} */

.grid {
    margin: 50px 0px;
    width: 80vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.footer-heading {
    font-weight: 600;
}

.footer-box {
    font-size: 15px;
}

#sustainability {
    grid-row: 3/9;
    grid-column: 3/4;
}

#cities {
    grid-row: 4/9;
    grid-column: 4/5;
}

.media-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-links div {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.last-line {
    margin-top: 40px;
    font-size: small;
    display: flex;
    justify-content: space-between;
    color: rgb(180, 180, 180);
}

.last-line div {
    display: flex;
    gap: 26px;
}

.last-line a {
    color: rgb(180, 180, 180);
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .media-links {
        flex-direction: column;
        gap: 18px;
    }

    .right-reserve {
        display: none;
    }

    .left-reserve {
        width: 80vw;
    }

    .left-friends {
        display: none;
    }

    .right-friends {
        width: 80vw;
    }

    .grid {
        gap: 0px;
    }

    .promotion div {
        margin: 0px;
    }
}

@media screen and (max-width: 1100px) {
    .list {
        display: none;
    }

    .right {
        display: none;
    }

    .left {
        width: 90vw;
    }

    .friends-container {
        width: 90vw;
    }

    nav ul {
        margin: 0px 20px;
    }

    .second-nav ul {
        margin: 0px 20px;
    }

    footer {
        padding: 30px 50px 0px 50px;
    }

    .left-business {
        width: 80vw;
    }

    .right-business {
        display: none;
    }
}


@media screen and (max-width: 1200px) {

    .reserve_container {
        flex-direction: column;
    }

    .uber-reserve {
        width: 90vw;
    }

    .benefits {
        width: 90vw;
    }


}